<center>
    <h1>Edit Page</h1>
    <form method="post" action="/updateRecord">
        <input type="text" value="<%= single.id  %>" name="editid">
        <table border="1">
            <tr>
                <td>Book Name</td>
                <td><input type="text" value="<%= single.name  %>" name="name"></td>
            </tr>
            <tr>
                <td>Published Year</td>
                <td><input type="number" value="<%= single.publishedyear  %>" name="publishedyear"></td>
            </tr>
            <tr>
                <td>Author Name</td>
                <td><input type="text" value="<%= single.authorname  %>" name="authorname"></td>
            </tr>
            <tr>
                <td>Book Pages</td>
                <td><input type="text" value="<%= single.bookpages  %>" name="bookpages"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" value="<%= single.price  %>" name="price"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
    <button><a href="/">View Page</a></button>
</center>